body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #292f33;
}
.screen{
    margin-top: 70px;
}

// Menu
.menu-container {
    display: grid;
    grid-template-columns:repeat(3, 200px);
    grid-gap: 10px;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0px;
    left: 0px;
    align-items: center;
    height: 70px;
    background-color: rgb(156, 70, 255);
    color: #fff;
}
.menu-logo {
    display: grid;
    align-items: center;
    margin-left: 30px;
}
.menu-logo-img {
    width: 50px;
    border-radius: 50%;
}
.menu-icon {
    display: none;
}
.menu-item{
    display: grid;
    align-items: center;
    text-decoration: none;
    color: #fff;
    p {
        font-weight: bold;
        font-size: 20px;
        margin: 0px;
    }
}
.menu-item:focus {
    outline: 0;
}
.mobile-layout, .mobile-layout-icon, .mobile-layout-title {
    display: none;
}
@media (max-width: 800px) {
    .menu-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
        background-color: rgb(0, 228, 153);
        z-index: 10;
        height: 100vh;
        width: 250px;
        font-size: 30px;
        transition: width 0.6s;
        &--close{
            width: 0px;
        }
    }
    .menu-container--close > * {
        display: none;
    }
    .menu-item {
        padding-left: 20px;
    }
    .menu-logo {
        display: none;
    }
    .mobile-layout {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        position: fixed;
        overflow: hidden;
        top: 0;
        right: 0px;
        left: 0px;
        height: 70px;
        background-color: rgb(255, 51, 187);
        color: #fff;
        font-size: 20px;
    }
    .mobile-layout > * {
        display: grid;
    }
    .mobile-layout-title {
        padding: 0px 30px;
    }
    .mobile-layout-icon {
        z-index: 10;
        font-size: 40px;
        padding: 0px 30px;
    }
}

// Articles
.articles-header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 20px;
    align-items: center;
    font-size: 30px;
    h1 {
        margin: 0px;
    }
}
.articles-header-p {
    margin: 0px;
    background-color: #292f33;
    border-radius: 15px;
    color: #fff;
    padding: 5px 10px;
    &--hidden {
        background-color: #fff;
    }
}
.articles-filter-button {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #292f33;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #fff;
    cursor: pointer;
}
.articles-filter {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 50px;
    min-height: 100px;
    background-color: #292f33;
    border-radius: 15px;
    color: #fff;
    -webkit-box-shadow: 0px 8px 14px 3px #D8D8D8; 
    box-shadow: 0px 4px 14px 3px #DFDFDF;
    padding: 30px;
    transition: height 0.8s;
    &--close {
        display: none;
        height: 0px;
    }
}
.articles-filter-categories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    grid-gap: 30px;
}
.articles-filter-item {
    display: grid;
    margin: opx 30px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    &--selected {
        background-color: #fff;
        color: #292f33;
    }
}
.articles-filter-search {
    display: grid;
    grid-template-columns: 1fr 3fr auto;
    grid-template-rows: 1fr;
    align-items: center;
    grid-gap: 30px;
}
.articles-filter-search-title {
    margin: 0px 20px 0px 0px ;
    font-weight: bold;
}
.articles-filter-search-input {
    display: grid;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    border: none;
    padding: 0px 10px;
}
.articles-filter-search-button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #292929;
    background-color: #fff;
    font-size: 30px;
    color: #292f33;
    cursor: pointer;
}
.articles-articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-gap: 30px;
    max-width: 1200px;
    margin: auto;
    padding: 30px;
}
.articles-article {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    min-height: 300px;
    border-radius: 15px;
    padding: 30px;
    -webkit-box-shadow: 0px 8px 14px 3px #D8D8D8; 
    box-shadow: 0px 4px 14px 3px #DFDFDF;
    cursor: pointer;
}
.articles-article:hover {
    -webkit-box-shadow: 0px 8px 14px 3px #C6C6C6; 
    box-shadow: 0px 4px 14px 3px #C6C6C6;
}
.articles-article-img {
    display: grid;
    width: 100%;
    min-height: 300px;
    object-fit: none;
    object-position: center;
    border-radius: 10px;
}
.articles-article-details {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: left;
    grid-gap: 10px;
    h3 {
        font-size: 22px;
        margin: 0px;
    }
}
.articles-article-body-continue {
    font-weight: bold;
}
.articles-article-tag {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #292f33;
    color: #fff;
}
.articles-error-message {
    font-size: 25px;
}
@media (max-width: 800px) {
    .articles-header {
        grid-template-columns: 1fr auto;
    }
    .articles-header-p {
        display: none;
    }
    .articles-filter {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 3fr;
        grid-gap: 20px;
        padding: 30px;
    }
    .articles-filter-search {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
    }
    .articles-filter-categories {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .articles-filter-search-title {
        grid-column: 1 / 3}
    .articles-filter-search-input {
        grid-column: 1;
        grid-row: 2;
    }
    .articles-articles {
        padding: 15px;
    }
    .articles-header {
        padding: 0px;
        font-size: 20px;
    }
    .articles-article {
        display: grid;
        grid-template-columns: 1fr;
        border-radius: 15px;
        padding: 0px;
        -webkit-box-shadow: 0px 8px 14px 3px #D8D8D8; 
        box-shadow: 0px 4px 14px 3px #DFDFDF;
        cursor: pointer;
    }
    .articles-article-img {
        width: 100%;
        min-height: 100px;
        height: 100px;
        border-radius: 15px 15px 0px 0px;
    }
    .articles-article-details {
        padding: 0px 30px;
        margin-bottom: 20px;
    }
    .articles-article-body-more {
        display: none;
    }
}
@media (max-width: 500px) {
    .articles-filter {
        padding: 15px;
        grid-template-columns: 1fr;
    }
}


// Article
.article-container {
    display: grid;
    grid-template-rows: auto 1fr;
    &--dark {
        color: #b0b0b0;
        background-color: #121212;
    }
    &--sepia {
        color: #2d3033;
        background-color: #f8f1e3;
    }
}
.article-settings {
    display: grid;
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 50px;
    width: 50px;
    background-color: #8e8e90;
    border-radius: 30px;
    align-items: center;
    justify-items: center;
    transition: width 0.4s, height 0.2s;
    color: #3d3d3f;
    font-size: 30px;
    cursor: pointer;
    &--open {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        border-radius: 50px;
        width: 280px;
        height: 60px;
        padding: 10px 20px;
    }
}
.article-settings > * {
    display: none;
}
.article-settings--open > .article-settings-icon {
    display: none;
}
.article-settings--open > * {
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: 60px;
    cursor: pointer;
}
.article-settings-light {
    color: #292f33;
    background-color: #fff;
}
.article-settings-sepia {
    color: #292f33;
    background-color: #f8f1e3;
}
.article-settings-dark {
    color: #b0b0b0;
    background-color: #121212;
}
.article-settings-icon {
    display: block;
}
.article {
    max-width: 720px;
    margin: auto;
    padding: 30px;
}
.article-title {
    margin-top: 0px;
    font-weight: 100;
    font-size: 40px;
}
.article-author {
    margin-bottom: 40px;
}
.article-img {
    width: 100%;
    object-fit: none;
    object-position: center;
    max-height: 400px;
    margin-top: 30px;
}
.article-body {
    text-align: justify;
    text-rendering: optimizeLegibility;
    font-size: 21px;
}
@media (max-width: 800px) {
    .article-body {
        font-size: 19px;
    }
}