body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #292f33;
}
.screen{
    margin-top: 70px;
}

// Menu
.menu-container {
    display: grid;
    grid-template-columns:repeat(3, 200px);
    grid-gap: 10px;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0px;
    left: 0px;
    align-items: center;
    height: 70px;
    background-color: rgb(156, 70, 255);
    color: #fff;
}
.menu-logo {
    display: grid;
    align-items: center;
    margin-left: 30px;
}
.menu-logo-img {
    width: 50px;
    border-radius: 50%;
}
.menu-icon {
    display: none;
}
.menu-item{
    display: grid;
    align-items: center;
    text-decoration: none;
    color: #fff;
    p {
        font-weight: bold;
        font-size: 20px;
        margin: 0px;
    }
}
.menu-item:focus {
    outline: 0;
}
.mobile-layout, .mobile-layout-icon, .mobile-layout-title {
    display: none;
}
@media (max-width: 700px) {
    .menu-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
        background-color: rgb(0, 228, 153);
        z-index: 10;
        height: 100vh;
        width: 250px;
        font-size: 30px;
        transition: width 0.8s;
        &--close{
            width: 0px;
        }
    }
    .menu-container--close > * {
        display: none;
    }
    .menu-item {
        padding-left: 20px;
    }
    .menu-logo {
        display: none;
    }
    .mobile-layout {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        position: fixed;
        overflow: hidden;
        top: 0;
        right: 0px;
        left: 0px;
        height: 70px;
        background-color: rgb(255, 51, 187);
        color: #fff;
        font-size: 20px;
    }
    .mobile-layout > * {
        display: grid;
    }
    .mobile-layout-title {
        padding: 0px 30px;
    }
    .mobile-layout-icon {
        z-index: 10;
        font-size: 40px;
        padding: 0px 30px;
    }
}

// Articles
.articles-articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-gap: 30px;
    max-width: 1200px;
    margin: auto;
    padding: 30px;
}
.articles-filter-button {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #292f33;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #fff;
    cursor: pointer;
}
.articles-filter {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    min-height: 100px;
    align-items: center;
    justify-content: center;
    background-color: #292f33;
    border-radius: 15px;
    color: #fff;
    -webkit-box-shadow: 0px 8px 14px 3px #D8D8D8; 
    box-shadow: 0px 4px 14px 3px #DFDFDF;
    cursor: pointer;
    transition: height 0.8s;
    &--close {
        display: none;
        height: 0px;
    }
}
.articles-filter-item {
    display: grid;
    margin: 30px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    &--selected {
        background-color: #fff;
        color: #292f33;
    }
}
.articles-article {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    height: 300px;
    border-radius: 15px;
    padding: 30px;
    -webkit-box-shadow: 0px 8px 14px 3px #D8D8D8; 
    box-shadow: 0px 4px 14px 3px #DFDFDF;
    cursor: pointer;
}
.articles-article-img {
    display: grid;
    width: 100%;
    min-height: 300px;
    object-fit: none;
    object-position: center;
    border-radius: 10px;
}
.articles-article-details {
    display: grid;
    grid-gap: 0px;

}
.articles-article-tags {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #292f33;
    color: #fff;
}
.articles-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    font-size: 30px;
    h1 {
        margin: 0px;
    }
}