body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #292f33;
}
.screen{
    margin-top: 70px;
}

// Loading
.loading-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    min-height: 90vh;
}

// Menu
.menu-container {
    display: grid;
    grid-template-columns: 100px 350px repeat(6, minmax(auto,180px));
    grid-template-rows: 1fr;
    grid-gap: 20px;
    position: fixed;
    overflow: hidden;
    align-items: center;
    z-index: 100;
    top: 0;
    right: 0px;
    left: 0px;
    align-items: center;
    height: 70px;
    background-color: #F4EC70;
    color: #292f33;
}
.menu-icon {
    display: none;
}
.menu-item{
    display: grid;
    align-items: center;
    text-decoration: none;
    color: #292f33;
    p {
        font-weight: bold;
        font-size: 20px;
        margin: 0px;
    }
    &--language {
        grid-column: 7;
        grid-template-columns: repeat(3,auto);
        justify-content: left;
    }
}
.menu-item-name{
    display: grid;
    grid-column: 2;
    align-items: center;
    text-decoration: none;
    color: #292f33;
    p {
        font-weight: 100;
        font-size: 30px;
        margin: 0px;
    }
}
.menu-item-button {
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: #292f33;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.menu-item:focus, .menu-item-name:focus, .mobile-layout-title:focus {
    outline: 0;
}
.mobile-layout, .mobile-layout-icon, .mobile-layout-title {
    display: none;
}
.menu-item-name--mobile{
    display: grid;
    align-items: center;
    text-decoration: none;
    color: #292f33;
    padding-left: 20px;
    p {
        font-weight: bold;
        font-size: 20px;
        margin: 0px;
    }      
}
@media (max-width: 800px) {
    .menu-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
        background-color: #F4EC70;
        z-index: 100;
        height: 100vh;
        width: 250px;
        font-size: 30px;
        transition: width 0.6s;
        grid-gap: 5px;
        &--close{
            width: 0px;
            -webkit-box-shadow: none; 
            box-shadow: none;
        }
    }
    .menu-container--close > * {
        display: none;
    }
    .menu-item {
        padding-left: 20px;
        &--language {
            grid-column: 1;
            p {
                margin: 0px 10px;
            }
        }
    }
    .menu-item-button {
        padding: 0px;
    }
    .menu-logo {
        display: none;
    }
    .mobile-layout {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        position: fixed;
        overflow: hidden;
        z-index: 99;
        top: 0;
        right: 0px;
        left: 0px;
        height: 70px;
        background-color: #F4EC70;
        color: #292f33;
        font-size: 20px;
    }
    .mobile-layout > * {
        display: grid;
    }
    .mobile-layout-title {
        font-size: 25px;
        font-weight: 100;
        padding: 0px 0px 0px 20px;
        color: #292f33;
        text-decoration: none;
        p {
            margin: 0px;
        }
    }
    .mobile-layout-icon {
        z-index: 10;
        font-size: 40px;
        padding: 0px 30px;
        color: #292f33;
    }
}

// Home
.home-container {
    padding: 30px;
    font-size: 25px;
}
// Resources
.articles-filter-categories{
    display: grid;
    grid-template-columns: auto repeat(4, minmax(auto,1fr));
    align-items: center;
    justify-content: start;
    grid-gap: 30px;
    &--search {
        grid-template-columns: auto 1fr auto;
    }
}
.articles-filter-button {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #fff;
    border: 2px solid #292f33;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    color: #292f33;
    cursor: pointer;
    &--search {
        background-color: #292f33;
        color: #fff;
    }
}
.articles-filter-item {
    display: grid;
    border: 2px solid #292f33;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    &--selected {
        background-color: #292f33;
        color: #ffffff;
    }
    &--hidden {
        display: none;
    }
}
.articles-filter-search {
    display: grid;
    grid-template-columns: 1fr 3fr auto;
    grid-template-rows: 1fr;
    align-items: center;
    grid-gap: 30px;
}
.articles-filter-search-title {
    margin: 0px 20px 0px 0px ;
    font-weight: bold;
    margin-top: 5px;
}
.search-bar {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    &--hidden {
        display: none;
    }
}
.articles-filter-search-input {
    display: grid;
    border-radius: 5px;
    -webkit-appearance: none;
    border: 2px solid #292f33;
    height: 46px;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 10px;
}
.articles-filter-search-button {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #292929;
    background-color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    p {
        margin: 0px;
        font-weight: bold;
        color: #292f33;
    }
}
.articles-header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 20px;
    align-items: center;
    font-size: 30px;
    h1 {
        margin: 0px;
    }
}
.articles-header-p {
    margin: 0px;
    background-color: #292f33;
    border-radius: 15px;
    color: #ffffff;
    padding: 5px 10px;
    &--hidden {
        background-color: #ffffff;
    }
}
.articles-articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 30px;
}
.articles-article {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    min-height: 300px;
    border-radius: 15px;
    padding: 30px;
    -webkit-box-shadow: 0px 8px 14px 3px #D8D8D8; 
    box-shadow: 0px 4px 14px 3px #DFDFDF;
    cursor: pointer;
}
.articles-article:hover {
    -webkit-box-shadow: 0px 8px 14px 3px #C6C6C6; 
    box-shadow: 0px 4px 14px 3px #C6C6C6;
}
.articles-article-img {
    display: grid;
    width: 100%;
    min-height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.articles-article-details {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: left;
    grid-gap: 10px;
    h3 {
        font-size: 22px;
        margin: 0px;
    }
}
.articles-article-body-continue {
    font-weight: bold;
}
.articles-article-tag {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #292f33;
    color: #ffffff;
}
.resources-video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    border-radius: 15px;
    padding: 30px;
    -webkit-box-shadow: 0px 8px 14px 3px #D8D8D8; 
    box-shadow: 0px 4px 14px 3px #DFDFDF;
}
.resources-video-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;
    border-radius: 5px;
}
.resources-video-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    border-radius: 5px;
}
.resources-video-title {
    display: block;
    font-size: 22px;
    margin: 0px;
    &--mobile {
        display: none;
        margin: 5px 0px 0px 0px;
    }
}
.articles-error-message {
    font-size: 25px;
}
@media (max-width: 800px) {
    .articles-header {
        grid-template-columns: 1fr auto;
    }
    .articles-header-p {
        display: none;
    }
    .articles-filter {
        grid-template-columns: 1fr;
        grid-gap: 0px;
        padding: 30px;
    }
    .articles-filter-search {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0px;
    }
    .articles-filter-categories {
        overflow-x: scroll;
        grid-template-columns: auto repeat(5 , 130px);
        grid-template-rows: 1fr;
        grid-gap: 10px;
        margin-left: -5px;
        margin-right: -15px;
        &--search {
            grid-template-columns: auto minmax(100px, 1fr) auto;
            grid-template-rows: 1fr 1fr;
            overflow-x: hidden;
        }
    }
    .articles-filter-search-button {
        padding: 5px;
    }
    .articles-articles {
        padding: 15px;
    }
    .articles-header {
        padding: 0px;
        font-size: 20px;
    }
    .articles-article {
        display: grid;
        grid-template-columns: 1fr;
        border-radius: 15px;
        padding: 0px;
        -webkit-box-shadow: 0px 8px 14px 3px #D8D8D8; 
        box-shadow: 0px 4px 14px 3px #DFDFDF;
        cursor: pointer;
    }
    .articles-article-img {
        width: 100%;
        min-height: 100px;
        height: 100px;
        border-radius: 15px 15px 0px 0px;
    }
    .articles-article-details {
        padding: 0px 30px;
        margin-bottom: 20px;
    }
    .articles-article-body-more {
        display: none;
    }
    .resources-video {
        grid-template-columns: 1fr;
        grid-template-rows:  1fr auto;
        border-bottom: 1px solid#ddd;
        padding: 0px 0px 20px 0px;
        box-shadow: none;
        border-radius: 0px;
    }
    .resources-video-title {
        display: none;
        &--mobile {
            display: block;
        }
    }
}
@media (max-width: 500px) {
    .articles-filter {
        padding: 15px;
        grid-template-columns: 1fr;
    }
    .articles-article{
        padding: 0px;
    }
}


// Article
.article-container {
    display: grid;
    grid-template-rows: auto 1fr;
    &--dark {
        color: #b0b0b0;
        background-color: #121212;
    }
    &--sepia {
        color: #2d3033;
        background-color: #f8f1e3;
    }
}
.article-settings {
    display: grid;
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 50px;
    width: 50px;
    background-color: #8e8e90;
    border-radius: 30px;
    align-items: center;
    justify-items: center;
    transition: width 0.4s, height 0.2s;
    color: #3d3d3f;
    cursor: pointer;
    &--open {
        grid-template-columns: auto auto repeat(3, 1fr);
        grid-gap: 5px;
        border-radius: 50px;
        width: 280px;
        height: 60px;
        padding: 10px 20px;
    }
}
.article-settings > * {
    display: none;
}
.article-settings--open > .article-settings-icon {
    display: none;
}
.article-settings--open > * {
    display: grid;
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: 45px;
    cursor: pointer;
}
.article-settings-font {
    align-items: center;
    justify-items: center;
    color: #ffffff;
    width: 30px;
    height: 30px;
    padding: 0px;
    background-color: #292f33;
}
.article-settings-light {
    color: #292f33;
    background-color: #ffffff;
}
.article-settings-sepia {
    color: #292f33;
    background-color: #f8f1e3;
}
.article-settings-dark {
    color: #b0b0b0;
    background-color: #121212;
}
.article-settings-icon {
    display: block;
    font-size: 25px;
    color: #ffffff;
}
.article {
    max-width: 720px;
    margin: auto;
    padding: 30px;
}
.article-title {
    margin-top: 0px;
    font-weight: 100;
    font-size: 40px;
}
.article-author {
    margin-bottom: 40px;
}
.article-img {
    width: 100%;
    object-fit: none;
    object-position: center;
    max-height: 400px;
    margin-top: 30px;
}
.article-body {
    text-align: justify;
    text-rendering: optimizeLegibility;
    font-size: 21px;
}
@media (max-width: 800px) {
    .article {
        padding: 10px;
    }
    .article-body {
        font-size: 19px;
    }
}
@media (max-width: 350px) {
    .article-settings--open {
        right: 0px;
        width: 280px;
    }
    .article-settings > * {
        width: 35px;
        font-size: 14px;
        width: 35px;
    }
    .article-settings-icon {
        font-size: 25px;
    }
}
@media (max-width: 320px) {
    .article-settings--open {
        right: 0px;
        width: 240px;
    }
    .article-settings-icon {
        font-size: 2px;
    }
}